.attribution { font-size: 11px; text-align: center;
color: white;
margin-top: 1rem; 
font-size: 1rem;
}
    .attribution a { color: hsl(228, 45%, 44%); }
@font-face {
    font-family: Figtree;
    src: url(/assets/fonts/Figtree-VariableFont_wght.ttf);
}
*{
padding: 0;
margin: 0;
font-family: figtree;
box-sizing: border-box;
}
ul{
    list-style-type: none;
}
@media (min-width: 768px){
body{
    padding: 0;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 100vh;

}



}
main{
    
border-radius: 1rem;
padding: 1.7rem;
border: 1px solid hsl(0, 0%, 7%);
background-color: white;
width: 500px;
margin-inline: auto;
box-shadow: 10px 10px 0px black;

}
.first-img{
border-radius: 1rem;
width: 100%;

}
body{
    background-color: hsl(47, 88%, 63%);
padding: 5rem 1rem;

}
.h-first{
display: inline-block;
background-color: hsl(47, 88%, 63%);
padding: 3px 8px;
margin: 1.5rem 0 1rem;

border-radius: 5px;


}
.date{
font-weight: 500;

margin-bottom: 1rem;

}
.title{
    font-weight: 800;
    white-space: nowrap;          /* Prevents wrapping */
                /* Hides overflowed text */
         /* Adds "..." if text overflows */
    text-align: left;             /* Align text to the left */
    margin-top: 1rem;   
    max-width: 200px;
    font-size: 1.75rem;
    
}
.title:hover{
color: hsl(47, 88%, 63%);
cursor: pointer;




}

.description{
margin-bottom: 1.5rem;
margin-top: 1rem;
text-align: left;
font-size: 1.2rem;
color: hsl(0, 0%, 42%);
}
.second-img{
    width: 40px;
    height: 40px;
    border-radius: 50%; /* Circular author image */
    margin-right: 10px;
}

ul{
    display: flex;
    align-items: center;
gap: .3rem;
}
.greg{
    font-weight: 800;

}











